body {
    color: steelblue;
}

h1 {
    font-family: sans-serif; 
    border: 5px solid salmon;
    padding: 5px;
}

.holder-type {
    color: orange;
    margin-top: 10px;
    font-family: fantasy;
}